<h2>Adres</h2>
<a routerLink="/addadres" *ngIf="isLoggedIn$ | async">Add adres</a>


<div *ngIf="adreses.length > 0">
    <ul class="adresses">
        <li *ngFor="let adres of adreses">
            <button [class.selected]="adres === selectedAdres" type="button" (click)="onSelect(adres)">
                <span class="badge">{{adres.id}}</span>
                <span class="adres">{{adres.street}} {{adres.housenumber}} {{adres.zipcode}} {{adres.city}} </span>
            </button>
            <fa-icon *ngIf="isLoggedIn$ | async" [icon]="faPencilIcon" (click)="onSelect(adres)"></fa-icon>
            <fa-icon *ngIf="isLoggedIn$ | async" [icon]="faTrashCanIcon" (click)="onDelete(adres)"></fa-icon>
        </li>
    </ul>
</div>

<div class="pagination-buttons">
    <div *ngIf="prevpage > 0">
        <button type="button" (click)="onPrevPage()">prev page {{page}}/{{totalpages}}</button>
    </div>
    <div *ngIf="nextpage > 0" class="next-page-button">
        <button type="button" (click)="onNextPage()">next page {{page}}/{{totalpages}}</button>
    </div>
</div>

<div *ngIf="errormessage!=undefined && errormessage.length>0">
    {{errormessage}}
</div>

<app-dbgmessages></app-dbgmessages>