<div class="login">
    <p>Existing user</p>
    <div class="form-group">
        <label for="username">Username: </label>
        <input #usernameInput autocomplete="on" id="username" [(ngModel)]="username" autofocus placeholder="username" tabindex="1">        
    </div>

    <div class="form-group">
        <label for="password">Password: </label>
        <input autocomplete="off" id="password" type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="password"
            placeholder="password" tabindex="2" (keyup.enter)="onLogon()" >
        <fa-icon *ngIf="showPassword" (click)="togglePasswordVisibility()" [icon]="faEyeIcon"></fa-icon>
        <fa-icon *ngIf="!showPassword" (click)="togglePasswordVisibility()" [icon]="faEyeSlashIcon"></fa-icon>
    </div>
    
    <button type="button" (click)="onLogon()" tabindex="3">Logon</button>
</div>

<div *ngIf="errormessage">
    {{errormessage}}
</div>

<app-dbgmessages></app-dbgmessages>