<h2>Show / Update privilege</h2>

<div *ngIf="privilege!=undefined">

    <div *ngIf="!(isLoggedIn$ | async)">
        <div *ngIf="privilege.id != undefined && privilege.id != 0" class="form-group">
            <label for="id">id: </label>
            <p id="id"> {{privilege.id}}</p>
        </div>

        <div class="form-group">
            <label for="rolename">Rolename: </label>
            <p id="rolename">{{privilege.name}}</p>
        </div>
        
        <div class="button-container">
            <button type="button" (click)="cancel()">Continue</button>
        </div>
    </div>

    <div *ngIf="isLoggedIn$ | async">
        <div *ngIf="privilege.id != undefined && privilege.id != 0" class="form-group">
            <label for="id">id: </label>
            <p id="id"> {{privilege.id}}</p>
        </div>

        <div class="form-group">
            <label for="rolename">privilegename: </label>
            <input #rolename [(ngModel)]="privilege.name" autofocus placeholder="privilegename" tabIndex="1">
        </div>

        <div class="button-container">
            <button type="button" (click)="onUpdate(privilege)">Update</button>
            <button type="button" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>

<div *ngIf="errormessage!=undefined && errormessage.length>0">
    {{errormessage}}
</div>