<h2>Add Adres</h2>

<div *ngIf="adres.id != undefined && adres.id != 0" class="form-group">
    <label for="id">id: </label>
    <p id="street"> {{adres.id}}</p>
</div>

<div class="form-group">
    <label for="street">Street: </label>
    <input id="street" [(ngModel)]="adres.street" placeholder="street">
</div>
<div class="form-group">
    <label for="housenumber">housenumber: </label>
    <input id="housenumber" [(ngModel)]="adres.housenumber" placeholder="housenumber">
</div>
<div class="form-group">
    <label for="zipcode">zipcode: </label>
    <input id="zipcode" [(ngModel)]="adres.zipcode" placeholder="zipcode">
</div>
<div class="form-group">
    <label for="city">city: </label>
    <input id="city" [(ngModel)]="adres.city" placeholder="city">
</div>

<div class="button-container">
    <button type="button" (click)="onSave(adres)">Save</button>
    <button type="button" (click)="cancel()">Cancel</button>
</div>

<div *ngIf="errormessage!=undefined && errormessage.length>0">
    {{errormessage}}
</div>

<app-dbgmessages></app-dbgmessages>