<h2>Privileges</h2>
<a routerLink="/addprivilege" *ngIf="isLoggedIn$ | async">Add privilege</a>


<div *ngIf="privileges.length > 0">
    <ul class="privileges">
        <li *ngFor="let privilege of privileges">
            <button [class.selected]="privilege === selectedPrivilege" type="button" (click)="onSelect(privilege)">
                <span class="badge">{{privilege.id}}</span>
                <span class="user">{{privilege.name}}</span>
            </button>
            <fa-icon *ngIf="isLoggedIn$ | async" [icon]="faPencilIcon" (click)="onSelect(privilege)"></fa-icon>
            <fa-icon *ngIf="isLoggedIn$ | async" [icon]="faTrashCanIcon" (click)="onDelete(privilege)"></fa-icon>
        </li>
    </ul>
</div>

<div class="pagination-buttons">
    <div *ngIf="prevpage > 0">
        <button type="button" (click)="onPrevPage()">prev page {{page}}/{{totalpages}}</button>
    </div>
    <div *ngIf="nextpage > 0" class="next-page-button">
        <button type="button" (click)="onNextPage()">next page {{page}}/{{totalpages}}</button>
    </div>
</div>

<div *ngIf="errormessage!=undefined && errormessage.length>0">
    {{errormessage}}
</div>

<app-dbgmessages></app-dbgmessages>