<h2>Show / Update Person</h2>

<div *ngIf="person!=undefined">

    <div *ngIf="!(isLoggedIn$ | async)">
        <div *ngIf="person.id != undefined && person.id != 0" class="form-group">
            <label for="id">id: </label>
            <p id="id"> {{person.id}}</p>
        </div>

        <div class="form-group">
            <label for="firstname">First name: </label>
            <p id="firstname">{{person.firstName}}</p>
        </div>

        <div class="form-group">
            <label for="infix">Infix: </label>
            <p id="infix"> {{person.infix}}</p>
        </div>
        <div class="form-group">
            <label for="lastname">Last name: </label>
            <p id="lastname"> {{person.lastName}}</p>
        </div>
        <div class="form-group">
            <label for="dateofbirth">Date of birth: </label>
            <p id="dateofbirth"> {{person.dateOfBirth}}</p>
        </div>

        <div class="button-container">
            <button type="button" (click)="cancel()">Continue</button>
        </div>
    </div>

    <div *ngIf="isLoggedIn$ | async">
        <div *ngIf="person.id != undefined && person.id != 0" class="form-group">
            <label for="id">id: </label>
            <p id="id"> {{person.id}}</p>
        </div>

        <div class="form-group">
            <label for="firstname">Street: </label>
            <input id="firstname" [(ngModel)]="person.firstName" autofocus placeholder="Jan" tabindex="1">
        </div>
        <div class="form-group">
            <label for="infix">Infix: </label>
            <input id="infix" [(ngModel)]="person.infix" placeholder="van der"  tabindex="2">
        </div>
        <div class="form-group">
            <label for="lastname">Last name: </label>
            <input id="lastname" [(ngModel)]="person.lastName" placeholder="Vlies"  tabindex="3">
        </div>
        <div class="form-group">
            <label for="dateofbirth">Date of birth: </label>
            <input id="dateofbirth" [(ngModel)]="person.dateOfBirth" placeholder="2002-02-02"  tabindex="4">
        </div>

        <div class="button-container">
            <button type="button" (click)="onUpdate(person)"  tabindex="5">Update</button>
            <button type="button" (click)="cancel()"  tabindex="6">Cancel</button>
        </div>
    </div>
</div>

<div *ngIf="errormessage!=undefined && errormessage.length>0">
    {{errormessage}}
</div>