<h2>Add Person</h2>

<div *ngIf="person.id != undefined && person.id != 0" class="form-group">
    <label for="id">id: </label>
    <p id="street"> {{person.id}}</p>
</div>

<div class="form-group">
    <label for="firstname">Firstname: </label>
    <input id="firstname" [(ngModel)]="person.firstName" autofocus placeholder="firstname" tabindex="1">
</div>
<div class="form-group">
    <label for="infix">infix: </label>
    <input id="infix" [(ngModel)]="person.infix" placeholder="infix" tabindex="2">
</div>
<div class="form-group">
    <label for="lastname">lastname: </label>
    <input id="lastname" [(ngModel)]="person.lastName" placeholder="lastname" tabindex="3">
</div>
<div class="form-group">
    <label for="dateOfBirth">Date of birth: </label>
    <input id="dateOfBirth" [(ngModel)]="person.dateOfBirth" placeholder="dateOfBirth" tabindex="4">
</div>

<div class="button-container">
    <button type="button" (click)="onSave(person)" tabIndex="5">Save</button>
  <button type="button" (click)="cancel()" tabIndex="6">Cancel</button>
</div>

<div *ngIf="errormessage!=undefined && errormessage.length>0">
    {{errormessage}}
</div>

<app-dbgmessages></app-dbgmessages>