<h2>Add User</h2>

<div *ngIf="user.id != undefined && user.id != 0" class="form-group">
    <label for="id">id: </label>
    <p id="street"> {{user.id}}</p>
</div>

<div class="form-group">
    <label for="username">Username: </label>
    <input id="username" [(ngModel)]="user.username" autofocus placeholder="username" tabindex="1">
</div>
<div class="form-group">
    <label for="password">Password: </label>
    <input id="password" [(ngModel)]="user.password" placeholder="password" tabindex="2">
</div>
<div class="form-group">
    <label for="email">Email: </label>
    <input id="email" [(ngModel)]="user.email" placeholder="user@gmail.com" tabindex="3">
</div>
<div class="form-group">
    <label for="phone">Phone: </label>
    <input id="phone" [(ngModel)]="user.phone" placeholder="0634829483" tabindex="4">
</div>

<div class="button-container">
    <button type="button" (click)="onSave(user)" tabindex="5">Save</button>
    <button type="button" (click)="cancel()" tabindex="6">Cancel</button>
</div>

<div *ngIf="errormessage!=undefined && errormessage.length>0">
    {{errormessage}}
</div>

<app-dbgmessages></app-dbgmessages>