.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* Adjust margin as needed */
}

.form-group label {
  flex: 0 0 100px;
  /* Fixed width for the label */
  text-align: right;
  /* Align label text to the right */
  margin-right: 10px;
  /* Add spacing between label and input */
}

.form-group input {
  flex: 1;
  /* Make the input field take up the remaining space */
}

.form-group p {
  margin: 0;
  flex: 1;
  /* Make the input field take up the remaining space */
}

.button-container {
  display: block;
  /* Use flexbox for horizontal layout */
  justify-content: space-between;
  /* Space buttons evenly */
}

.button-container button {
  /* Style your buttons here */
  margin: 0 10px;
  /* Add 10px margin on each side */
}

.persons {
  list-style-type: none;
  /* Remove bullets */
}

.persons li {
  display: flex;
}

.persons button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: 1.8em;
}

.persons button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.persons button:active {
  background-color: #525252;
  color: #fafafa;
}

.persons button.selected {
  background-color: black;
  color: white;
}

.persons button.selected:hover {
  background-color: #505050;
  color: white;
}

.persons button.selected:active {
  background-color: black;
  color: white;
}

.persons .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.3em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.persons .adres {
  align-self: center;
}

.persons button a {
  margin: 0 1em 0 0;
  align-self: center;
  /* Align vertically within button */
  margin-left: auto;
  /* Push to the right side of the button */
}

fa-icon {
  margin-top: 9px;
  margin-left: 5px;
  text-align: right;
}