<h2>Show / Update Adres</h2>

<div *ngIf="adres!=undefined">

    <div *ngIf="!(isLoggedIn$ | async)">
        <div *ngIf="adres.id != undefined && adres.id != 0" class="form-group">
            <label for="id">id: </label>
            <p id="id"> {{adres.id}}</p>
        </div>

        <div class="form-group">
            <label for="street">Street: </label>
            <p id="street">{{adres.street}}</p>
        </div>

        <div class="form-group">
            <label for="housenumber">housenumber: </label>
            <p id="housenumber"> {{adres.housenumber}}</p>
        </div>
        <div class="form-group">
            <label for="zipcode">zipcode: </label>
            <p id="zipcode"> {{adres.zipcode}}</p>
        </div>
        <div class="form-group">
            <label for="city">city: </label>
            <p id="city"> {{adres.city}}</p>
        </div>

        <div class="button-container">
            <button type="button" (click)="cancel()">Continue</button>
        </div>

        <div *ngIf="adres.persons && (adres.persons!.length > 0)">
            <h3>Persons on this adres</h3>
            <ul class="persons">
                <li *ngFor="let person of adres.persons">
                    <button [class.selected]="person === selectedPerson" type="button" (click)="onSelectPerson(person)">
                        <span class="badge">{{person.id}}</span>
                        <span class="person">{{person.firstName}} {{person.infix}} {{person.lastName}}
                            {{person.dateOfBirth}} </span>
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div *ngIf="isLoggedIn$ | async">
        <div *ngIf="adres.id != undefined && adres.id != 0" class="form-group">
            <label>id: </label>
            <p> {{adres.id}}</p>
        </div>

        <div class="form-group">
            <label for="street">Street: </label>
            <input id="street" [(ngModel)]="adres.street" placeholder="street">
        </div>
        <div class="form-group">
            <label for="housenumber">housenumber: </label>
            <input id="housenumber" [(ngModel)]="adres.housenumber" placeholder="housenumber">
        </div>
        <div class="form-group">
            <label for="zipcode">zipcode: </label>
            <input id="zipcode" [(ngModel)]="adres.zipcode" placeholder="zipcode">
        </div>
        <div class="form-group">
            <label for="city">city: </label>
            <input id="city" [(ngModel)]="adres.city" placeholder="city">
        </div>

        <div class="button-container">
            <button type="button" (click)="onUpdate(adres)">Update</button>
            <button type="button" (click)="cancel()">Cancel</button>
        </div>

        <div *ngIf="adres.persons && (adres.persons!.length > 0)">
            <h3>Persons on this adres</h3>
            <ul class="persons">
                <li *ngFor="let person of adres.persons">
                    <button [class.selected]="person === selectedPerson" type="button" (click)="onEditPerson(person)">
                        <span class="badge">{{person.id}}</span>
                        <span class="person">{{person.firstName}} {{person.infix}} {{person.lastName}}
                            {{person.dateOfBirth}} </span>
                    </button>
                    <fa-icon *ngIf="isLoggedIn$ | async" [icon]="faPencilIcon" (click)="onEditPerson(person)"></fa-icon>
                    <fa-icon *ngIf="isLoggedIn$ | async" [icon]="faTrashCanIcon"
                        (click)="onDeletePerson(person)"></fa-icon>
                </li>
            </ul>
        </div>

        <div class="button-container">
            <button type="button" (click)="onAddPerson()">Add Person</button>
        </div>
       
        <div *ngIf="selectPerson">
            <app-personselect [adres]="adres"></app-personselect>
        </div>
    </div>
</div>

<div *ngIf="errormessage!=undefined && errormessage.length>0">
    {{errormessage}}
</div>

<div *ngIf="debugMessages">
    <app-dbgmessages></app-dbgmessages>
</div>